<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      
      <style>
      /* add spacing between two adjacent .site-title links */
      .site-header .site-title { display: inline-block; }
      .site-header .site-title + .site-title { margin-left: 0.75rem; }
      </style>
      <div class="mt2">
        <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
        <a href="{{ "/about" | relative_url }}" class="site-title"> Me</a>

      </div>


      <p class="site-author">  {{ site.author }}</p>

      <!-- <nav class="site-nav">
        {% include navigation.html %}
      </nav> -->
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>

  </div>
</header>
