.proof-highlight {
    background-color: rgb(227, 227, 227);
    border: 3px solid rgb(0, 0, 125);
    padding: 10px; 
  }

.remark-square {
  background-color: rgb(239, 174, 164);
  border: 1px solid red;
  padding: 20px;
}